#container {
  display: flex;
  border-left: solid 1px black;
  margin-bottom: 20px;
}

.page {
  padding: 2px 5px;
  border: solid 1px black;
  border-left: none;
}

.blue {
  background-color: cyan;
}

.noTextDecoration {
  text-decoration: none;
  color: black;
}
